@import '../../utils/style-variables.scss';

.title-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-weight: normal;
    color: rgba(253, 253, 253, 0.692);
    padding: 5% 10% 5% 10%;
}

$background: #25272A;

.list-chats {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    overflow: hidden;
    background: $background;
    mix-blend-mode: normal;
    opacity: 0.75;

    &__number{
        font-size: 14px;
    }
  
    @media screen and (max-width : 719px) {
      width: 15%;
      opacity: 0;
      visibility: hidden;
      position: relative;
      left: -15%;
      transition: opacity .2s ease, visibility .2s ease, left .3s ease;
  
      &_opened {
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      width: 78%;
      height: 82%;
      margin: 0;
      list-style: none;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        width: 7px;
        height: 4px;
        background-color: $background;
      }
    
      &::-webkit-scrollbar-thumb { 
        border-radius: 10px;
        background-color: #e0d6d6b4;
        height: 20px;
      }
    }
  
  }
  